@import 'tailwindcss';
html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

body {
  background: #0b1020;
  color: white;
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
}
